:root.theme-dark {
  --accent-color: #FF0070;
  --accent-color-rgba: rgba(255, 0, 112, 0.4);
  --main-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --section-title-color: #FF0070;
  --background-color: #000028;
  --rec-display: block;
  --path-background-image: url("../images/cover-image-dark.png");
}
