:root.theme-light {
  --accent-color: #FF8DCB;
  --accent-color-rgba: rgba(255, 141, 203, 0.4);
  --main-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  --background-color: #FFF1F7;

  --rec-display: none;
  --path-background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --accent-color-rgba: rgba(255, 141, 203, 0.4);
    --main-color: #353430;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --section-title-color: #353430;
    --background-color: #FFF1F7;

    --rec-display: none;
    --path-background-image: url("../images/cover-image-light.png");
  }
}